ErrorDocument 403 /errors/403/
ErrorDocument 404 /errors/404/
ErrorDocument 500 /errors/500/
# dont change anythin bellow
RewriteEngine On

Options -Indexes
RewriteRule ^Game(/(.*))?$ /game$1 [NC,L,R=301]
RewriteRule ^Games.aspx(/(.*))?$ /games$1 [NC,L,R=301]
RewriteRule ^game/players/([^/]+)/?$ user-stuff.php?userId=$1 [L]
# ip bans
deny from 2806:104e:11:db7a:b072:28a2:29f4:6aee
deny from 186.251.129.196
deny from 202.60.82.127